# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmpgg

database/*.db